function formatDate(timestamp) {
  var date = getDate(timestamp);
  var YY = date.getFullYear() + '-';
  var MM = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
  var DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
  var hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
  var mm = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes());
  // var ss = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());
  // return YY + MM + DD + " " + hh + mm + ss;
  return YY + MM + DD + " " + hh + mm;
}

function shortTitle(title) {
  var limitLen = 12
   return (title.length - limitLen) > 0 ? title.substring(0, limitLen - 1) : title
}

module.exports = {
  formatDate: formatDate,
  shortTitle: shortTitle
}